body {
    font-family: Arial;
    padding: 20px;
    background: #f2f2f2;
}

nav a {
    margin-right: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    background: white;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    width: 200px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

.product-image {
    width: 250px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
